<form method="post" action="{{ path('app_image_blog_delete', {'id': image_blog.id}) }}" onsubmit="Êtes sûr de vouloir supprimer cette image?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_blog.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
