{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>
	<div class="container">
		<table class="table">
			<tbody>
				<tr>
					<th>Description</th>
					<td>{{ product.description }}</td>
				</tr>
				<tr>
					<td><img src="{{ asset('build/images/' ~ product.photo) }}" class="card-img-top" alt="..."></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					{% if product.stock <= 0 %}
						<td>
							<button class="btn btn-danger" type="disabled">
								Rupture de stock
							</button>
						</td>
					{% else %}
						<td>
							<a class="btn btn-primary" href="{{ path('cart_add',{'id':product.id}) }}">Ajouter au panier</a>
						</td>
					{% endif %}

				</tr>
			</tfoot>

		</table>
	</div>
{% endblock %}
