{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>
	<div class="container">
		<table class="table">
			<tbody>
				<tr>
					<th>Description</th>
					<td>{{ product.description }}</td>
				</tr>
				<tr>
					<td><img src="{{ asset('build/images/' ~ product.photo) }}" class="card-img-top" alt="..."></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<a class="btn btn-warning" href="{{ path('cart_add',{'id':product.id}) }}">Ajouter au panier</a>
					</td>
				</tr>
			</tfoot>

		</table>
	</div>
{% endblock %}