{% extends 'dashboardbase.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle commande</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('app_order_index') }}">Retour</a>
{% endblock %}
