{% extends 'dashboardbase.html.twig' %}

{% block title %}Modifier la ligne de commande{% endblock %}

{% block body %}
    <h1>Modifier la ligne de commande</h1>

    {{ include('order_line/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_order_line_index') }}">Retour</a>

    {{ include('order_line/_delete_form.html.twig') }}
{% endblock %}
